.hero {
  width: 100%;
  height: 100vh;
  background: url(/images/beach.jpg);
  background-size: cover;
}
.hero h1 {
  color: white;
  font-family: "Berkshire Swash", cursive;
  font-size: 100px;
  font-weight: 400;
  margin: 0;
  padding: 250px 0 0;
  letter-spacing: 3px;
}

.hero h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
}

.hero p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

.about {
  background-color: #ffc99d;
}

.container-icons {
  text-align: center;
  font-size: 50px;
  color: white;
}

.container-icons p {
  font-size: 20px;
}

.skills-section {
  background-color: #628e8f;
}

.wrapper {
  padding: 80px;
}
