body {
  background-image: url(/images/dark.jpg);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero h1 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100px;
  font-weight: 600;
  margin: 0;
  padding: 250px 0 0;
  letter-spacing: 3px;
}

.hero h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
}

.hero p {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 42px;
    padding: 100px 0 0;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 20px;
  }
}
